<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="ida:Tenant" value="72f988bf-86f1-41af-91ab-2d7cd011db47"/>
    <add key="ida:ClientId" value="69a4cc35-e37b-4fee-b356-c5f6568d06f3"/>
    <add key="ida:RedirectUri" value="http://vcawpfhost"/>
    <add key="todo:TodoListResourceId" value="https://microsoft.onmicrosoft.com/854a9819-bc50-45a9-aa96-50b6287cb635"/>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}"/>
    <add key="todo:TodoListBaseAddress" value="https://localhost:44321"/>
  </appSettings>
</configuration>
